.menu{
    color: white;
    width: 100%;
    height:10px;
    background:#222;
    padding: 10px;
    margin: -10px;
    margin-bottom: 0px;
}

.container{
    padding:30px 20px;
    background:#ddd;
    min-height:200px;
}

h2{
    margin-bottom:20px;
}

.productos{
    display:flex;
    gap:20px;
}

.producto{
    flex:1;
    border:2px solid #666;
    padding:25px;
    text-align:center;
    background:white;
}

footer{
    background:#cfcfcf;
    text-align:center;
    padding:15px;
}